<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <header
      class="masthead"
      style="background-image: url(&quot;/assets/img/contact-bg.jpg&quot;)"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create New Post</h1>
              <span class="subheading">Create your New Post here:</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- <p>Create a new Post from here:</p> -->
            <div class="my-5">
              <% if (errors != null && errors.length > 0) { %>
              <ul class="list-group mb-3">
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                <% } %>
              </ul>
              <% } %>
              <form
                id="contactForm"
                action="/posts/store"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="title"
                    type="text"
                    placeholder="Enter your Title..."
                    data-sb-validations="required"
                    name="title"
                    value="<%= title %>"
                  />
                  <label for="title">Title</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="Title:required"
                  >
                    A title is required.
                  </div>
                </div>

                <div class="form-floating">
                  <textarea
                    class="form-control"
                    id="body"
                    placeholder="Enter your post here..."
                    style="height: 12rem"
                    data-sb-validations="required"
                    name="body"
                  ><%= body %></textarea>
                  <!-- <label for="body">Blog Body</label> -->
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="body:required"
                  >
                    A body is required.
                    <script>
                      $('#body').summernote({
                      placeholder: 'Blog Body',
                      tabsize: 2,
                      height: 200
                      });
                      </script>
                  </div>
                </div>

                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Upload an Image for your post here:</label>
                    <input
                      type="file"
                      class="form-control"
                      id="image"
                      name="image"
                    />
                  </div>
                </div>

                <br />

                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  Send
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
  </body>
</html>