<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <header
      class="masthead"
      style="background-image: url(&quot;/assets/img/contact-bg.jpg&quot;)"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Login</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Log into your account:</p>
            <div class="my-5">
              <% if (errors != null && errors.length > 0) { %>
              <ul class="list-group mb-3">
                <% for (var i = 0; i < errors.length; i++) { %>
                <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                <% } %>
              </ul>
              <% } %>
              <form
                id="contactForm"
                action="/users/login"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder="Enter Username here..."
                    data-sb-validations="required"
                    name="username"
                    value="<%= username %>"
                  />
                  <label for="username">Username</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="Username:required"
                  >
                    A valid Username is required...
                  </div>
                </div>

                <div class="form-floating">
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    placeholder="Password"
                    data-sb-validations="required"
                    name="password"
                  />
                  <label for="password">Password</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="Password:required"
                  >
                    A valid Password is required...
                  </div>
                </div>

                <br />

                <button
                  class="btn btn-primary text-uppercase"
                  id="loginButton"
                  type="submit"
                >
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
  </body>
</html>